# Compiled
*.elc

# Auto-Saved Files and Backups
\#*\#
*~

# Caches
auto-save-list/
tramp
eshell/
url
ac-comphist.dat
semanticdb-system/*
custom/
site-lisp/*
bookmarks
ede-projects.el

# other repositories
repos
elpa
elpa.old
/irony/
